# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
esp32/esp32.svd
esp32/debug.cfg
esp32/debug_custom.json
.vscode/c_cpp_properties.json
.vscode/arduino.json

# Credentials
